node_modules
dist
.tmp-*

template/logs
template/*.log
template/npm-debug.log*
template/yarn-debug.log*
template/yarn-error.log*
template/pnpm-debug.log*
template/lerna-debug.log*
template/node_modules
template/dist
template/dist-ssr
template/*.local
template/.idea
template/.DS_Store
template/*.suo
template/*.ntvs*
template/*.njsproj
template/*.sln
template/*.sw?
template/*.tsbuildinfo
template/.eslintcache
template/src-tauri/target/
template/src-tauri/gen/schemas
template/.husky/_/
